pipeline/lookupconfiguration.json
{
	"name": "lookupconfiguration",
	"properties": {
		"activities": [
			{
				"name": "LookupConfigurationFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ADLS_Lego_ConfigurationFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LookupFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupConfigurationFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupConfigurationFile').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsActive,'1')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-22T12:11:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}